.home{
    flex: 4;
}

.homeWidgets{
    display: flex;
    margin: 20px;
}
.buttonLg {
    width: 100%;
    border: none;
    background-color: teal;
    padding: 10px;
    margin: 10px;
    color: white;
}
.buttonLg:hover {
    background-color: black;
}