.container {
    width: 100vw;
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://images.pexels.com/photos/6984661/pexels-photo-6984661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
    width: 50%;
  padding: 20px;
  background-color: white;
}
.wrapper h1 {
    font-size: 24px;
  font-weight: 300;
}
.form {
    display: flex;
  flex-wrap: wrap;
}
.form input {
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    padding: 10px;
    outline: none;
}
.agreement {
    font-size: 12px;
    margin: 20px 0px;
}
.form button {
    width: 40%;
    border: none;
    padding: 15px 20px;
    background-color: teal;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
  .form input {
    min-width: 100%;
    margin: 5px 0;
    padding: 7px;
}
.form button {
  width: 100%;
  padding: 10px 15px;
  
}
}